#container {
    height: 100%;
    overflow: hidden;
}

.session {
    margin: 10px;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnrow {
    padding: 7px;
}

.btnrow button {
    margin-right: 10px;
}

#watch {
    margin-left: 10px;
}

#progress {
    width: 98%;
    margin-left: 1%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.file-actions {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#files {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
}

.file {}

#footer {
    position: absolute;
    bottom: 30px;
    left:30px;
}

.btn {
    margin: 15px;
}