#container {
    height: 100%;
}

.session {
    margin: 10px;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#watch {
    margin-left: 10px;
}

#progress {
    width: 98%;
    margin-left: 1%;
    margin-bottom: 10px;
    border-radius: 5px;
}

#files {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
}

.file {
    width: 200px;
    height: 100px;
    margin: 5px;
    border: 1px black solid;
    background-color: rgb(250, 250, 250);
}

.btn {
    margin: 15px;
}